*.egg-info
.mypy_cache
.idea
__pycache__
**/doc/build
.tox
.coverage
htmlcov
.myenv
postgres_password.txt
docker-compose.yml
shiftql/parsetab.py
py-dev.env
worker-nodocker.env
*.log
.isort.cfg
.hadolint.yaml
.flake8
.markdownlint.yaml
.shellcheckrc
.trunk
local-dev.env
results/
.env